<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add-Person</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">All People</a></li>
                <li class="main-header__item"><a href="/admin/add-person">Add Person</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>List of all Covid19 Vaccinated People</h1>
        <div class="grid">
            
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title">Abc01</h1>
                </header>
                
                <div class="card__content">
                    <h2 class="product__price">Heenal</h2>
                    
                </div>
                <div class="card__actions">
                    <button class="btn">Details</button>
                </div>
            </article>
            
        </div>
    </main>
</body>
</html>